.clients-list {
  display: flex;
}

.clients-list__item {
  @extend %flex-center;

  width: 170px;
  height: 92px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-list__link {
  padding: 16px 32px;

  border: 1px solid var(--icon-color);
  border-radius: 4px;

  fill: var(--icon-color);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);
  }
}
