.command-list {
  display: flex;

  &__content {
    padding-top: 30px;
    padding-bottom: 30px;

    text-align: center;
  }

  &__title {
    margin-bottom: 10px;

    font-weight: 500;

    color: var(--title-text-color);
  }

  &__description {
    margin-bottom: 16px;
  }
}

.command-list__item {
  @include font(16px, 1.19);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--primary-white-color);

  &:not(:last-child) {
    margin-right: 30px;
  }
}
